@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Playfair+Display|Raleway');

* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-style: medium;
	text-transform: uppercase;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	color: #000;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 44px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	letter-spacing: 0.66px;
	color: #222222;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-style: medium;
	text-transform: uppercase;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	color: #000;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-style: medium;
	text-transform: uppercase;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	color: #333333;
}


p {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	letter-spacing: 0.6px;
	color: #444444;
}

ul {
	font-family: 'Libre Baskerville', sans-serif;
	font-size: 1em;
	font-style: medium;
	text-transform: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	letter-spacing: 0.6px;
	color: #444444;
}

a {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-style: medium;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 2em;
	color: #999999;
}

nav {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-style: medium;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 2em;
	
}

nav {
	float: right;
	margin-top: 60px;
	margin-bottom: 40px;
	margin-right: 40px;
}

img {
	width: 100%
}

footer {
	background-color: rgb(138,186,183);
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
 
.lander {
  float: left-bottom;
  width: 200px;
  height: 72px;
  margin-top: 40px;
}

.section {
	margin: 20px;

}