@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli|Playfair+Display|Raleway');


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-size: 16px;
	position: relative;
}

nav{
	text-align: center;
	float: right;
	padding-top: 2.5em;
}


nav a:link{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	line-height: 2em;
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	padding:0.625em;	
}

nav a:hover {
	color: rgb(138,186,183);
} 


main{
	background-color: rgb(255,255,255);
	color: rgba(0,0,0,0.2);
	padding:3.125em 0;
}

footer {
	background-color: rgb(138,186,183);
	width:100%;
	padding-bottom: 6.25em;
}

p a {
	font-family: 'Libre Baskerville', serif;
	font-size: 0.4em;
	font-style: normal;
	text-transform: italic;
	line-height: 2em;
	letter-spacing: .2em;
	color: rgba(0,0,0,0.9);
}

a p:hover {
	color: rgb(138,186,183);
}

h2 a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
	line-height: 2em;
	letter-spacing: .1em;
	color: rgba(0,0,0,0.9);
	margin: 1em auto;	
}

a h2:hover {
	color: rgb(138,186,183);
}

a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 2em;
	color: rgba(0,0,0,0.7);
	margin: 1em auto;
	letter-spacing: .1em;
	text-decoration: none;
}

a:hover {
	color: rgb(138,186,183);
} 

img{
	width:100%;
}

hr {
	border: none;
	background-color: rgb(138,186,183);
	height:0.08em;
	width:2em;
	margin: 2%;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2.2em;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: 0.0125em;
	color: rgb(0,0,0);
	margin-top: 1em;
}


h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 500;
	line-height: 2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	margin: 1em auto;
    display: inline-block;
    position: relative;
    border-bottom: 0.0625em solid rgb(138,186,183);
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5em;
	text-transform: none;
	letter-spacing: 0.04em;
	color: rgba(0,0,0,0.8);
}

h4 { 
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 2em;
	color: rgba(0,0,0,0.8);
	letter-spacing: .2em;
	text-decoration: none;
	margin:2%;
	text-align: center;
	align-content: center;
}

p,
ul,
li {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.7em;
	letter-spacing: 0.0375em;
	color: rgba(0,0,0,0.7);
	margin-bottom: 1em;
	margin-top: 1em;
	list-style-position: inside;
}

label {
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 500;
	line-height: 2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	margin: 1em auto;
    display: none;
}


.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

.wrapper {
    margin: auto;
}

.background {
	background-width: 100%;
 	background-color: hsla(199, 23%, 41%, 0.07);
}

.about{
	width:21%;
	margin:2%;
	float:left;
	align-content: left;
	text-align: left;
}

.about img{
	display: block;
	margin:auto;
}

.reserves hr{
	margin: auto;
}

.reserves {
	width:46%;
	margin:2%;
	float:left;
}

.news{
	width:21%;
	margin:2%;
	float:left;
	align-content: left;
	text-align: left;
}

.news img{
	display: block;
}

.images {
	width:29.333%;
	margin:2%;
	float:left;
}


#lander {
	margin-left: 2%;
	margin-right: 2%; 
	padding-bottom: 1.25em;
}

img#logo {
	width: 12.5em;
	float: left;
	padding-top: 1.25em;
}

#hero-image {
	background-image: url(https://gingermint.github.io/unit_8/images/hero-image-3.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	background-size: cover;
	padding-top: 15em;
	padding-bottom: 15em;
}	

#h1-title {
	font-size: 3em;
	padding-bottom: 0em;
	color: rgb(255,255,255);
	width:86%;
	margin-left:7%;
	margin-right:7%;
	float: left;
}

#p-title {
	color: rgb(255,255,255);
	width:86%;
	margin-left:7%;
	margin-right:7%;
	float: left;
	padding-top: 0em;
}
#h1-wrapper {
	width:80%;
	margin-left:10%;
	margin-right: 10%;
	float:none;
	align-content: center;
	text-align: center;
	padding-top: 2.5em;
}

#p-wrapper {
	width:70%;
	margin-left:15%;
	margin-right:15%;
	align-content: center;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 6.25em;
}

#p-wrapper hr{
	margin: auto;
}

#about-wrapper {
	width: 90%;
	padding:3.125em 0;	
}

#our-trust {
	width:46%;
	margin:2%;
	float:left;
	align-content: center;
	text-align: center;
}

#our-trust hr {
	margin: auto;
	margin-top: 2.5em;

}
#our-trust img {
	display: block;
	margin:auto;
	border-color: #000
}


#reserves-wrapper {
	width: 90%;
	text-align: center;
	padding:3.125em 0;	
}

#our-portfolio {
	padding-top: 4em;
}


#news-wrapper {
	width: 90%;
	padding:3.125em 0;
}

#images-wrapper {
	width: 90%;
	padding:3.125em 0;
}

#footer-copyright {
	text-align: center;
	padding-top: 5em;
}

#footer-gingermint {
	text-align: center;
	color: rgba(0,0,0,0.4);
	
}

#toggle{
	display: none;
}

@media screen and (max-width:1000px){

	.about{
	width:48%;
	margin:1%;
	float:left;
	padding:1.5em 0;
	}

	.news{
	width:48%;
	margin:1%;
	float:left;
	}

	.images {
	width:48%;
	margin:1%;
	float:left;
	}

	img#logo {
	width: 9em;
	}

	#h1-wrapper {
	width:75%;
	margin: auto;
	padding-top: 0em;
	}

	#p-wrapper {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	padding-bottom: 3.25em;
	}

	#about-wrapper {
	padding:1.5em 0;
	}

	#our-trust {
	width:98%;
	margin:1%;
	float:left;
	}


	#our-portfolio {
	padding-top: 0em;
	}
		

@media screen and (max-width:770px){

	nav {
	font-size: .8em;
	width: 30%;	
	margin-left: 35%;
	margin: right: 35%;
	display: none;
	float: none;
	padding: 1em;
	}

	nav a:link {
	display: block;
	text-align: center;
	padding:10px;
	margin:5px;
	}

	nav a:hover {
	color: rgb(255,255,255);
	background-color: rgb(138,186,183);
	} 

	label {
	display: block;
	width: 30%;	
	padding-top: 50px;
	margin-left: 35%;
	margin: right: 35%;
	float: none;
	text-align: center;
	}


	hr {
		display: none;
	}

	h4 {
	font-size: 0.8em;
	}

	.about{
	width:100%;
	float:none;
	padding:1.5em 0;
	text-align: center;
	align-content: center;
	}

	.reserves {
	width:100%;
	float:none;
	}

	.news{
	width:100%;
	float:none;
	text-align: center;
	align-content: center;
	}

	.images {
	width:48%;
	margin:1%;
	float:left;
	}

	.h4-headings {
	display: none;
	}

	img#logo {
	width: 8em;
	}

	#hero-image {
	display: none;
	}

	#h1-wrapper {
	display: none;
	}

	#p-wrapper {
	display: none;
	}

	#toggle:checked + nav {
	display: block;
	}

	img#set-map {
	padding-top: 60px;
	}
}

@media screen and (max-width:490px){ 

	nav{
	font-size: .9em;
	width: 50%;	
	margin-left: 25%;
	margin: right: 25%;
	display: none;
	float: none;
	padding: 1em;
	}

	.about{
	width:100%;
	float:none;
	padding:1.5em 0;
	text-align: center;
	align-content: center;
	}

	.images {
	width:100%;
	float:left;
	}

	.social-media {
	width: 7%;
	padding: 5px;
	float: none;
	}


	#footer-copyright {
	width:100%;
	float:none;
	text-align: center;
	}

	#footer-gingermint {
	width:100%;
	float:none;
	text-align: center;
	}

	img#logo {
	width: 7em;
	}

	#hero-image-lander {
	display: none;
	}

	#p-wrapper {
	display: none;
	}

	#about-wrapper {
	width: 100%;
	}

	#reserves-wrapper {
	width: 100%;	
	}

	#news-wrapper {
	width: 100%;	
	}

	#images-wrapper {
	width: 100%;	
	}
}

