@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli|Playfair+Display|Raleway');


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-size: 16px;
	position: relative;
}

nav{
	text-align: center;
	float: right;
	padding-top: 2.5em;
}


nav a:link{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	line-height: 2em;
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	padding:0.625em;
	
}

nav a:hover {
	color: rgb(138,186,183);
} 


main{
	background-color: rgb(255,255,255);
	color: rgba(0,0,0,0.2);
	padding:3.125em 0;
	
}

footer {
	background-color: rgb(138,186,183);
	padding:3.125em 0;
	align-content: center;
	text-align: center;
}

footer a {
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	color: rgba(255,255,255,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	line-height: 2em;
	text-decoration: none;
	padding:0.625em;
	
}

footer a:hover {
	color: rgba(255,255,255,0.8)
} 

p a {
	font-family: 'Libre Baskerville', serif;
	font-size: 0.4em;
	font-style: normal;
	text-transform: italic;
	line-height: 2em;
	letter-spacing: .2em;
	color: rgba(0,0,0,0.9);
}

a p:hover {
	color: rgb(138,186,183);
}

h2 a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
	line-height: 2em;
	letter-spacing: .1em;
	color: rgba(0,0,0,0.9);
	margin: 1em auto;
	
}

a h2:hover{
	color: rgb(138,186,183);
}

a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 500;
	line-height: 2em;
	color: rgba(0,0,0,0.7);
	margin: 1em auto;
	letter-spacing: .2em;
}

a:hover {
	color: rgb(138,186,183);
} 

img{
	width:100%;
}

hr{
	border: none;
	background-color: rgba(0,0,0,0.5);
	height:0.0437em;
	width:2em;
	margin: 2%;
}



h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2.8em;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: 0.0125em;
	color: rgba(0,0,0,0.69);
	margin-bottom: 1em;
	margin-top: 1em;
}


h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 500;
	line-height: 2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	margin: 1em auto;
    display: inline-block;
    position: relative;
    border-bottom: 0.0625em solid rgb(138,186,183);
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5em;
	text-transform: none;
	letter-spacing: 0.04em;
	color: rgba(0,0,0,0.8);
}

h4 { 
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2em;
	color: rgba(0,0,0,0.8);
	letter-spacing: .2em;
	text-decoration: none;
	margin:2%;
	text-align: center;
	align-content: center;

}


p,
ul,
li {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.7em;
	letter-spacing: 0.0375em;
	color: rgba(0,0,0,0.7);
	margin-bottom: 1em;
	margin-top: 1em;
	list-style-position: inside;
}

footer h4 {
	color: rgb(255,255,255);
}

label {
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 500;
	line-height: 2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	margin: 1em auto;
    display: none;

}


.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

.wrapper {
    margin: auto;
}

.background {
	background-width: 100%;
 	background-color: hsla(199, 23%, 41%, 0.07);
}

.about{
	width:21%;
	margin:2%;
	float:left;
	align-content: left;
	text-align: left;

}

.about img{
	display: block;
	margin:auto;

}

.reserves hr{
	margin: auto;
}

.reserves {
	width:46%;
	margin:2%;
	float:left;
}

.news{
	width:21%;
	margin:2%;
	float:left;
	align-content: left;
	text-align: left;

}

.news img{
	display: block;
}

#lander {
	margin-left: 2%;
	margin-right: 2%; 
	padding-bottom: 1.25em;
}

img#logo {
	width: 12.5em;
	float: left;
	padding-top: 1.25em;
}

#hero-image-lander {
	width: 100%;
}	

#h1-wrapper {
	width:90%;
	margin-left:5%;
	margin-right: 5%;
	float:none;
	align-content: center;
	text-align: center;
	padding-top: 2.5em;
	
}

#p-wrapper {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	align-content: center;
	text-align: center;
	padding-bottom: 6.25em;
}

#p-wrapper hr{
	margin: auto;
}



#about-wrapper {
	width: 90%;
	padding:3.125em 0;
	
}

#our-trust {
	width:46%;
	margin:2%;
	float:left;
	align-content: center;
	text-align: center;
	
}

#our-trust img {
	display: block;
	margin:auto;
	border-color: #000
}

#our-trust hr{
	margin: auto;
}

#reserves-wrapper {
	width: 90%;
	text-align: center;;
	padding:3.125em 0;
	
}

#our-portfolio {
	padding-top: 4em;
}


#news-wrapper {
	width: 90%;
	padding:3.125em 0;
}

#images-wrapper {
	width: 90%;
	padding:3.125em 0;
}

.images {
	width:29.333%;
	margin:2%;
	float:left;
}

#toggle{
	display: none;
}

@media screen and (max-width:1000px){
	#h1-wrapper {
	width:75%;
	margin: auto;
	padding-top: 0em;
	}

	#p-wrapper {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	padding-bottom: 3.25em;
	}

	#about-wrapper {
	padding:1.5em 0;
	}

	#our-trust {
	width:98%;
	margin:1%;
	float:left;
}

	.about{
	width:48%;
	margin:1%;
	float:left;
	padding:1.5em 0;
	}

	#our-portfolio {
	padding-top: 0em;
	}

	.news{
	width:48%;
	margin:1%;
	float:left;
	}
		

@media screen and (max-width:770px){ 

	img#set-map {
	padding-top: 60px;
	}


}

@media screen and (max-width:770px){



	img#logo {
	width: 10em;
	float: left;
	padding-bottom: 0em;
	}

	nav{
	font-size: .8em;
	width: 30%;	
	margin-left: 35%;
	margin: right: 35%;
	display: none;
	float: none;
	padding: 1em;
	}

	nav a:link{
	display: block;
	padding:10px;
	margin:5px;
	}

	nav a:hover {
	color: rgb(138,186,183);
	border-bottom: 0.0625em solid rgb(138,186,183);
	} 

	label{
	display: block;
	width: 30%;	
	padding-top: 50px;
	margin-left: 35%;
	margin: right: 35%;
	float: none;
	text-align: center;
	}

	#toggle:checked + nav{
	display: block;
	}

	.reserves {
	width:98%;
	margin:1%;
	float:none;
	}

	.news{
	width:98%;
	margin:1%;
	float:none;
	text-align: center;
	align-content: center;
	}

	.images {
	width:48%;
	margin:1%;
	float:left;
	}


	h4 {
	display: none;
	}

	hr {
		display: none;
	}
}

@media screen and (max-width:490px){ 

	img#logo {
	width: 8em;
	}

	#p-wrapper {
	display: none;
	}

	.about{
	width:98%;
	margin:1%;
	float:none;
	padding:1.5em 0;
	text-align: center;
	align-content: center;
	}

	.images {
	width:98%;
	margin:1%;
	float:left;
}


}


