@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli|Playfair+Display|Raleway');

* {
	margin: 0px
	padding: 0px;
}

body {
	font-family: 'Playfair Display', '' serif;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(0,0,0,0.5);
	background-color: rgb(255,255,255);
	margin-bottom: 20px;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 55px;
	line-height: 1.5em;
	letter-spacing: 0.66px;
	color: rgba(0,0,0,0.5);
	margin-bottom: 20px;
}

h2 {
	font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 2em;
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

h3 {
	font-family: 'Muli', sans-serif;
	font-size: 19px;
	font-style: medium;
	line-height: 2em;
	color: rgb(0,0,0,);
	margin-bottom: 20px;
}

h4 {
	font-family: 'Muli', sans-serif;
	font-size: 24px;
	font-style: medium;
	text-transform: uppercase;
	line-height: 2em;
	color: rgba(0,0,0,0.5);
	margin-bottom: 20px;
}


p {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 2em;
	letter-spacing: 0.6px;
	color: rgba(0,0,0,0.5);
	margin-bottom: 20px;
}

ul {
	font-family: 'Libre Baskerville', sans-serif;
	font-size: 1em;
	font-style: medium;
	text-transform: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	letter-spacing: 0.6px;
	color: rgba(0,0,0,0.5);
	margin-bottom: 20px;
}

a {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-style: medium;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 2em;
	color: rgba(138,186,183);
	margin-bottom: 20px;
}




nav {

	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-style: medium;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 2em;
	background-color: rgb(138,186,183);
	float: right;
	padding: 20px;

}






