background-image: url("images/her0_image.png")

#hero-image {
	height: 610px;
	padding-top:1 px;
	background: rgb(138,186,183) url(images/set_hero.png); no-repeat center;
}








header, {
    color: white;
    background-color: rgb(138,186,183);
    clear: left;
    text-align: center;

.logo {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-top: 0px;
}
body {
  margin: 0;
  padding: 0;
}