
* {
	padding: 0;
	margin: 20;
}
h1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 55px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 60px;
}

h2 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 25px;
	color: #666666;
}

h3 {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 25.5px;
	text-transform: uppercase;
	color: rgb(165,142,106);
}

p {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #55555;
}

blockquote {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

pre {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

header {
	background-color: rgb(138,186,183);
	padding: 30px;  
	font-family: helvetica;
	font-color: #fff;
}

header nav {
	float: right;
}

nav a {
	color: #fff;
	font-style: bold;
	text-transform: uppercase;
	margin-right: 10px;
}

img {
	width: 100%;
}

main {
	padding: 20px;
	text-align: center;
}

ul, ol {
	padding-left: 20px;
}

footer {
	background-color: rgb(138,186,183);
	padding: 20px;
	font-family: helvetica;
	text-align: center;
}



aside {
	float: right;
}

ul {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #55555;

}

.hero {
  width:100%;
  position: relative;

}

.text {
  	position: absolute;
  	margin: 0;
  	top:50%;
  	left: 20px;
  	transform:translateY(-50%, -50%);
  	color: #fff;
  
}



	
